.list {
    width: 20vw;
}

.title {
    width: fit-content;
    padding: 0 20px;
    font-size: 23px;
}

.column {
    min-height: 50vh;
    max-height: fit-content;
    width: 24vw;
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
